@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');



:root {
   

--Blue: hsl(223, 87%, 63%);
--Pale-Blue: hsl(223, 100%, 88%);
--Light-Red: hsl(354, 100%, 66%);
--Gray: hsl(0, 0%, 59%);
--Very-Dark-Blue: hsl(209, 33%, 12%);
--Font-size: 20px;
--Font-family:'Libre Franklin';
  }

  *,
  *::before,
  *::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
  }
 body{
  font-family: var(--Font-family);
 }  

 .logo, .main-title{
  margin: 0 auto;
	width: 85%;
	max-width: 30rem;
	text-align: center;
 }
 
.title{
color: var(--Gray);
}

.text-blue-bold{
  color: var(--Very-Dark-Blue);
}

header {
	margin: 4rem 0 2.3rem;
}

header img {
	width: 25%;
	margin-top: 36px;
	margin-bottom: 42px;
}


.title {
	font-size: 1.7rem;
	font-weight: 300;
	margin-bottom: 1.3rem;
}

.title span {
	font-weight: 700;
}

.subtitle {
	font-size: 1.1rem;
}

form {
	margin-top: 2.5rem;
	margin-bottom: 4rem;
}


.button-group {
	border: 1px solid var(--secondary-pale-blue);
	border-radius: 50px;
	position: relative;
	cursor: text;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.button-group input {
	padding: 1rem 0 1rem 2.2rem;
	background-color: transparent;
	width: 40%;
	border-radius: 2rem solid black;
}

.button-group input::placeholder {
	font-size: 0.9rem;
	font-family: var(--Font-family);
	font-weight: 300;
	color: var(--Pale-blue);
}



.btn {
	margin-top: 1rem;
	padding: 1rem;
	width: 10%;
	box-shadow: 0 5px 20px var(--Pale-Blue);
	border-radius: 50px;
	font-size: 0.9rem;
	font-family: var(--Font-family);
	font-weight: 600;
	cursor: pointer;
	background-color: var(--Blue);
	color: white;
}


.btn:hover,
.btn:focus {
	filter: brightness(1.2);
	transition: 0.5s;
}


main img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.error-text {
	position: absolute;
	top: 115%;
	text-align:center;
	font-size: 0.85rem;
	font-weight: var(--fw-300);
	color: var(--Light-Red);
	font-style: italic;
	display: none;
	transition: 0.5s ease-out;
}



footer {
	margin-top: 4rem;
	margin-bottom: 1rem;
}

.social-nav-list{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1.5rem;
	
}

.social-nav-footer{
	padding: 0.5rem;
	border: 1px solid var(--Blue);
	display: flex;
	
	border-radius: 50px;
	cursor: pointer;
	font-size: 18px;
	color: var(--Blue);
}

.social-nav-link:hover{
	color: var(--Blue);
	
	border-radius: 5px;
	color: white;
}

.fa-brands{
	color: var(--Blue);
}

.footer-copyright {
	font-size: 0.9rem;
	font-weight: var(--fw-300);
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
	color: var(--neutral-gray);
}

.attribution a {
	color: var(--neutral-very-dark-blue);
	text-decoration: underline;
}













